.header {
    background-image: url('../../img/nyt-header.png');
    background-color: #181818;
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center 35%;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    z-index: 100;
    border-bottom: 5px solid rgba(255,255,255,0.2);
  }
  
  
  .header2 {
    color: white;
      position: absolute;
      left: 40%;
      top: 65%;
  
      font-size: 6em;
      margin: 0;
      font-family: 'Quicksand', sans-serif;
     
  }
  
  
  
  .button-dark {
    font-size: 2.2em;
    padding: 0.7em 1.3em;
    font-weight: 600;
    border: none;
    background: black;
    color: #777;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin: 1em 1em 1em 0.25em;
  }
  
  .button-dark:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .button-group {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  #viewSaved {
    left: 11.5%;
  }
  
  .filler {
    width: 100%;
    height: var(--header-height);
  }